body, html{
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
}
.btn{
    transition: 'all' 0.3s 'ease-in-out';
}
.card{
	margin-bottom: 15px;
	width: 18rem;
	height: 50rem;
}
@media (max-width:1220px){
    .navbar-brand{
		display: none;
	}
	.navbar .navbar-nav .nav-link{
		/* float: right; */
		display: 'block';
	}
	.card{
		width: 200rem;
		height: 50rem;
	}
	.card-price{
		width: 18rem;
	}
	
	.work{
		position: 'relative';
		top: 0;
		left: 50px;
		right: 50px;
	}
    .footer{
        text-align: 'center';
	}
}
@media (max-width:1111px){
    .navbar-brand{
		display: none;
	}
	.navbar .navbar-nav .nav-link{
		/* float: right; */
		display: 'block';
	}

	.price-filter{
		padding: 20px;
	}
	h2{ 
		margin: 30px;
	}
	.card{
		width: 10rem;
		height: 50rem;
		margin-left: 50px;
	}
	.card-price{
		width: 18rem;
	}
	.work{
		position: 'relative';
		top: 50;
		left: 50px;
		right: 50px;
	}
	.footerHeader{
		margin: 150px;
	}
    .footer{
		text-align: 'center';
		
	}
}
	@media (max-width:400px){
		.navbar-brand{
			display: 'none';
		}
		.navbar .navbar-nav .nav-link{
			float: 'right';
			display: 'block'; 
		}
		.navbar.responsive a {
			float: 'none';
			display: 'block';
			text-align: 'left';
		  }
		} 
		h2{
			margin: 30px;
		}
		.card{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.card-price, .card-header, .card-body{
			width: 18rem;
			text-align: center;
			margin: 15px;
	}
	.contactHeader{
		margin: 30px;
	}
	.footerHeader{
		margin: 20px;
	}
		.footer{
			text-align: center;
		}

.navbar{
    background-color: rgba(21,31,33,0.5);
    border-bottom: 1px solid #dedede;
	font-family: 'Alegreya Sans', sans-serif;
}
.navbar .navbar-nav .nav-link{
    color: black; 
}
.navbar .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar-toogler-icon{
    color: #fff;
}
h1{
	padding: 70px;
}
/* work */
.productsPage {
	padding: 5rem;
	text-align: center;
}
.shopWomens{
	text-align: center;
}
.work{
    padding: 5rem 0;
}
.work .work-img{
    position: relative;
}
.work .work-img .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    background-image: url(./img/eye.png);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    transition: all 0.3s ease-in-out;
}
.work .work-img .img-overlay:hover{
    opacity: 1;
    z-index: 1;
}

/*pricing*/
.pricingHeader{
	padding: 4rem 0;
}
.pricing{
    padding: 5rem 0;
    background-color: #f6f6f6;
}
.card-price .card-header{
    background-color: black;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.card-price .standard{
    background-color: #be2835;
    font-size: 1.3em;
    padding: 15px 0;
}
.card-price .card-header:hover{
    background-color: #be2835;
}
.card .card-price{
    margin-top: 20px;
}
/*contact*/
.contactHeader {
	text-align: center;
	padding: 4rem 0;
}
.contactPage {
	padding: 5rem 0;
}

.contact-name{
	float: left;
	padding-right: 5px;
}
.contact-message{
	float: right;
	padding-left: 5px;
}
/*footer*/
.footerHeader{
	padding: 5rem 0;
}
.mainFooter {
	padding: 5rem 0;
    color: white;
}
.mainFooter a{
    color: white;
}
.mainFooter .fa{
    padding: 0 5px;
}

